{% extends "base.html" %}
{% load static %}

{% block content %}


<main class="container">
  <div class="bg-body-tertiary p-5 rounded">
    <div class="row text-center">
      <div class="col fw-light display-5 rounded-2 text-secondary-emphasis align-middle" style="height: 100px;">
                <div class="carousel slide d-flex align-self-center p-3" data-bs-ride="carousel" data-bs-interval="3500">
                  <div class="carousel-inner text-body">
                    <div class="carousel-item active " >
                      Ramses Lagunas
                    </div>
                    <div class="carousel-item">
                        Cyber Security Professional
                    </div>
                    <div class="carousel-item">
                        Creator
                    </div>
                    <div class="carousel-item">
                        Tech Specialist
                    </div>
                    <div class="carousel-item" data-bs-interval="10000">
                        Con Gusto
                    </div>
                  </div>
                </div>
      </div>

    </div>
  </div>

</main>

<div class="container">
    <div class="row">
        {% for indice in index %}
        <div class="col-4 p-2">
            <img class="img-fluid rounded-1" src="{% static indice.img %}">
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}