{% extends "base.html" %}
{% load static %}

{% block content %}

 <div class="container  bg-light p-3 rounded-3">
        <div class="row g-5">
            <div class="col-md-9 py-3">
                <div class="container">
                    <h4 class="font-monospace text-primary-emphasis text-center">Tech Consultations</h4>
                    <p class="lead">
                        In today's rapidly evolving digital era, it has become a chaotic place full of those with expertise and those without. I've utilized my skills to
                        help bridge that gap, providing tailored recommendations to empower small businesses to thrive in today's digital ecosystems. I've worked on projects
                        providing information about Hardware/Software Specification and Integration, Operational Security, Data Management and Project Planning.
                    </p>
                    <p class="fst-italic fw-lighter">
                        In the near future, I will be listing some of those projects in greater depth!
                    </p>
                </div>
                <br>

            </div>
            <div class="col-md-3 text-center p-3">
                <img class="img-fluid rounded-1" src="{% static '3d-model.png' %}">
            </div>
        </div>
</div>
<br>
<hr style="margin:auto" width="75%">



<footer class="text-center">
    <a href="https://www.flaticon.com/free-icons/prototype" title="prototype icons">Prototype icons created by Freepik - Flaticon</a>
</footer>
{% endblock %}